.search-bar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 2px solid #007bff;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .search-bar input[type="text"]:focus {
    border-color: #0056b3;
  }
  
  .search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .top-rated-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .top-rated-button:hover {
    background-color: #218838;
  }
  