.header{
    display: flex;
    justify-content: space-between;
}
.logoContainer >img {
    width: 200px;
    height: 170px;
    margin-top: -20px;
}
.nav-items >ul{
    display: flex;
    list-style-type: none;
}
.nav-items >ul >li{
    margin: 10px;
    padding: 10px;
    font-size: 25px;

}